.services-intro li { margin: 22px 0; }
.services-intro li:first-child { margin-top:0px; }
.services-intro li:last-child { margin-bottom:0px; }
header .quotes a {letter-spacing: 3px; background-color: #333333; margin-right: 0;}